body{
	background-color:#ccccb3;
}
#container{
	widht:1170px;
	margin: 0 auto;
}


#header-section{
	width:100%;
	background-image: url("../images/bckgImg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color:black;
	display:inline-block;
	border:1px solid black;
	text-align:center;
}
#logo{
	float:left;
	padding-left:3%;
	padding-top:2%;
}
#headerTitle{
	display:inline-block;
	font-size:250%;
	padding-top:1%;
	padding-bottom:1%;
}
#home{
	float:right;
	display:inline-block;
	font-size:110%;
	padding-right:3%;
	padding-top:2%;
}
.headerFontColor{
	color:#ccccb3;
}

#registrationTitle{
	text-align:center;
	font-size:200%;
	color:#0d0d0d;
	padding-top:3%;
	padding-bottom:1%;
}

#wrapper{
	width:90%;
	margin-left:5%;
	border-top:1px solid black;
}