body{
	background-color:#e0e0d1;
}
#container{
	widht:1170px;
	margin: 0 auto;
	font-family: "Times New Roman", Times, serif;
}


#header-section{
	width:100%;
	background-image: url("../images/bckgImg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color:black;
	display:inline-block;
	border:1px solid black;
	text-align:center;
}
#logo{
	float:left;
	padding-left:3%;
	padding-top:2%;
}
#headerTitle{
	display:inline-block;
	font-size:250%;
	padding-top:1%;
	padding-bottom:1%;
}
#home{
	float:right;
	display:inline-block;
	font-size:110%;
	padding-right:3%;
	padding-top:2%;
}
.headerFontColor{
	color:#e0e0d1;
}

#registrationTitle{
	text-align:center;
	font-size:250%;
	color:#0d0d0d;
	padding-top:3%;
	padding-bottom:1%;
	font-family: Monospace;
}

#wrapper{
	width:86%;
	margin-left:7%;
	border-top:1px solid black;
	font-family: Monospace;
	text-align:center;
}
#error{
	color:red;
}
#textField{
	font-size:140%;
}
.separator{
	padding-top:3%;
}
.input{
	margin-left:1%;
	width:25%;
	height:5%;
}
.line{
	display:inline-block;
	border:1px solid #0d0d0d;
	height:10px;
	
}