body{
	background-color:#e0e0d1;
}
#main-container{
	widht:1170px;
	margin: 0 auto;
	font-family: "Times New Roman", Times, serif;
}


#header-section{
	width:100%;
	background-image: url("../../registerPage/images/bckgImg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color:black;
	display:inline-block;
	border:1px solid black;
	text-align:center;
}
#logo{
	float:left;
	padding-left:3%;
	padding-top:1%;
}
#title-field{
	display:inline-block;
}
#headerTitle{
	margin:0;
	padding-top:0.5%;
	padding-bottom:0.5%;
	display:inline-block;
	font-size:250%;
}
#home{
	float:right;
	display:inline-block;
	font-size:110%;
	padding-right:3%;
	padding-top:1%;
}
.headerFontColor{
	color:#e0e0d1;
}

#registrationTitle{
	text-align:center;
	font-size:250%;
	color:#0d0d0d;
	padding-top:3%;
	padding-bottom:1%;
	font-family: Monospace;
}

#wrapper{
	width:86%;
	margin-left:7%;
	border-top:1px solid black;
	font-family: Monospace;
	text-align:center;
}
#error{
	color:red;
}
#main-options{
	width:0 auto;
	float:left;
}
#textField{
	font-size:140%;
}
.separator{
	padding-top:3%;
}
.input{
	margin-left:1%;
	width:25%;
	height:5%;
}
.line{
	display:inline-block;
	border:1px solid #0d0d0d;
	height:10px;
}

#success_message{ 
	display: none;
}

.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
