.error{
	color:red;
}

#refreshButton{
	height:15px;
}
.spaceMaker{
	margin-top:50px;
}
.centerDiv{
	float:left;
}
.submitButton{
	margin-left:90px;
}
.selectpicker{
	width:100%;
}
#confirmPassword{
	cursor:default;
}