body{
	margin:0;
	padding:0;
	width:100%;
	height:auto;
	background-color:#ebebe0;
}
#map{
		float:left;
		height:200px;
		width:90%;
	}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top: 83% !important;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}
h4 {
    margin: 20px 10px 10px;
}
p {
    margin: 10px;
}

#carousel-example-generic {
    margin: 20px auto;
    width: 400px;
}

#carousel-custom {
    margin:  auto;
    width: 400px;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}

@media (min-width: 992px){
#mainNav.navbar-shrink {
		padding-top: 0;
		padding-bottom: 0;
	}
.navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid{
		flex-wrap:nowrap;
	}
.container{
		max-width:1100px;
	}
#mainNav.navbar-shrink .navbar-brand{
		font-size:1.25em;		
		padding:12px 0;
	}
#mainNav .navbar-brand{
		transition:all .3s;	
	}
#map{
	display:block;
	float:left;
	height:200px;
	width:90%;
	clear:both;
}
}
@media (max-width: 1099px){
.container{
		max-width:720;		
	}

}

@media (max-width: 576px){
.container{
		max-width:540;	
	}
}
#mainNav {
	background-color: #212529;
}
.fixed-top{
	position:fixed;
	top:0;
	right:0;
	left:0;
	z-index:1030;	
}
.navbar>.container, .navbar>.container-fluid{
	display:flex;
	align-items:center;
	justify-content:space-between;
}
#container{
	width:100%;
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
}
#mainNav .navbar-brand{
	float:left;
	color:#fed136;
	font-family:'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}
#goToIndex{
	float:rigth;
	color:#fed136;
	font-family:'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}
#wrapper{
	padding-top:4.5%;
	padding-left:5%;
	width:auto;
	height:auto;
	background-color:#ebebe0;
}
#photoSection{
	float:left;
}
.downImgSize{
	height:100px;
	width:20px;
}
#detailInfo{
	display:block;
	margin-right:10px;
	padding-left:1%;
	height:auto;
	float:left;
	background-color:white;
}
#restNameDiv{
	width:100%;	
	text-align:center;
}
#restaurantName{
	float:center;
	font-size:170%;
	font-family:serif;
}
#logoAndTitleRow{
	height:auto;
}
#smallLogo{
	float:left;
	width:40%;
}
#addToFavouriteDiv{
	text-align:center;
	padding:0;
	margin:0;
}
#addToFavourite{
	margin-top:3%;
	background-color:#fed136;
	border:1px solid #fed136;
	font-family:serif;
	font-size:120%;
	border-radius:7px;
}
#moreInfo{
	margin-top:10%;
}
.moreInfo-space{
	margin-top:3%;
}
#welcomeMessage{
	border-bottom:1px solid #b7b795;
	margin-bottom:20%;
}
#bottomOptions{
	float:left;
	text-align:left;
	padding-top:4.5%;
	padding-left:5%;
	padding-bottom:4.5%;
	width:90%;
	height:auto;
	background-color:white;
}
#bottomForRestaurant{
	margin:0;
	float:left;
	width:50%;
	text-align:left;
	border-right:1px solid #d6d6c2;
	padding-right:5%;
}
p{
	margin:0;
}
#bottomAdditionalInfo{
	float:left;
	width:50%;
	padding-left:3%;
	padding-right:5%;
}
.bottomTitle{
	color:#fed136;
	background-color:#212529;
}
.bottomInnerInfos{
	margin-top:7%;
	width:100%;
	padding-left:10%;
}
#commentsSection{
	float:left;
	text-align:left;
	padding-top:2%;
	width:90%;
	height:auto;
}
#commentsStraightLine{
	width:100%;
	border:1px solid #212529;
}
#addCommentButton{
	margin-top:2%;
	float:right;
	width:15%;
	background-color:#fed136;
	border-radius:5px;
	border:1px solid #fed136;
	font-size:120%;
}
#commentDiv{
	display:none;
	position:fixed;
	margin:0;
	left:35%;
	top:25%;
	z-index = 1000;
	text-align:center;
	width:400px;
	height:250px;
	background-color:#212529;
	border-radius:15px;
}
#closeCommentWindow{
	text-align:center;
	color:black;
	text-size:120%;
	float:right;
	border-radius:0px 14px 0px 0px;
}
#commentBlankText{
	padding-left:10%;
	color:#fed136;
	font-size:140%;
	line-height:3;
}
#makeRegForRest{
	background-color:#212529;
	color:#fed136;
	float:left;
	margin-left:10px;
}
#reservationInfoDiv{
	text-align:center;
	padding-top:3%;
	padding-left:5%;
	padding-right:5%;
}